
.t {
  background: white;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  box-shadow:
    0px 2px 10px rgba(0,0,0,0.1),
    0px 10px 20px rgba(0,0,0,0.2),
    0px 30px 60px 1px rgba(0,0,0,0.4);
  animation: fadein 1s ease-in-out;
}
.t .head {
  display: block;
  text-align: center;
  line-height: 0.1px;
}
.t .head .userpic {
  border-radius: 100%;
  width: 20%;
  border: 3px solid blanchedalmond;
  transition: 0.5s ease-out;
}
.t .head .userpic:hover {
  filter: grayscale(100);
}
.t .head .username {
  color: gray;
}
.t .head .options {
  float: right;
  color: gray;
}
.hr {
  border: none;
  height: 5px;
  background: black;
}
.t .account-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 0.1px;
}


@keyframes fadein {
  from {
    margin-top: -50px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
